{% extends "catalog/base.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">
      {{ book.author.first_name }} {{ book.author.last_name }}</a></p>
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>
    {% if book.book_image %}
        <img alt="Book image" class="card-img-top embed-responsive-item"
             src="{{ book.book_image.url }}" style="max-width: 200px; height: auto;"/>
    {% endif %}

  <div style="margin-left:20px;margin-top:20px">
  {% if book.bookinstance_set.all %}
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
          {% else %}
        <p>No Copies of this Book Exist at this Library</p>
  {% endif %}

</div>
    <a href="{% url 'book_list' %}">Back to All Books</a>

{% endblock %}
